*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.nav-item .nav-link {
    color: #253138 !important;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
}
.nav-item {
    padding: 0px 20px;
}
.active {
    font-weight: bold !important;
}
.form-inline input {
    border: 1px solid #253138;
    border-radius: 50px;
}
.navbar {
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 25px;
}
/****home page css****/
.Hero_banner {
    background-color: #f0f9fa;
    position: relative;
    padding: 170px 0px;
    border-radius: 0 0 0 450px;
}
.banner_content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
}
 p {
    font-size: 20px;
    font-family: 'Roboto';
}
.banner_content a, .About_section .contaner_box a {
    background: #1ea59a;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 600;
    padding: 13px 30px;
    border-radius: 50px;
    border: 2px solid #1ea59a;
    transition: 0.5s;
    letter-spacing: 1px;
}
.banner_content a:hover, .About_section .contaner_box a:hover {
    color: #1ea59a;
    background: transparent;
}
.contaner_box h2 {
    font-size: 35px;
    font-family: 'Montserrat';
    color: #1e3547;
    font-weight: 600;
    padding-top: 100px;
    text-transform: capitalize;
}
.contaner_box p {
    max-width: 71%;
    margin: 15px auto;
}
.card-title {
    font-size: 1.25rem;
    font-family: 'Montserrat';
    color: #1e3547;
    font-weight: 600;
    margin-top: 20px;
}
.card-text {
    font-size: 16px;
    color: #828f99;
}
.card-body .btn {
    background: #1ea59a;
    font-size: 15px;
    padding: 4px 12px;
    color: white;
    border-radius: 50px;
    border: 1px solid #1ea59a;
    transition: 0.5s;
}
.card-body .btn:hover {
    background: transparent;
    color: #1ea59a;
}
.card-body {
    box-shadow: 0 5px 30px -10px rgb(0 0 0 / 10%);
    border-radius: 20px;
    padding: 1.5rem !important;
    margin-top: 25px;
}
.abt-descrptions {
    max-width: 100% !important;
}
.abt-descrptions {
    max-width: 100% !important;
    margin-bottom: 45px !important;
}
.About_section {
    background: #f0f9fa;
    margin-top: 70px;
    padding-top: 30px;
}
.blog-card {
    background: #f7f7f7;
    border-radius: 5px;
    padding: 30px;
}
.blog-card a {
    font-weight: 500;
    font-family: 'Montserrat';
    color: #848594;
    line-height: 1.5;
    margin-bottom: 0.312rem;
    font-size: 16px;
    text-decoration: none;
}
.blog-card h3 a {
    color: #181c51;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 0;
    font-size: 24px;
    font-family: 'Montserrat';
    text-decoration: none;
}
.blog-card img {
    margin-bottom: 30px;
}
.blog-card h3 {
    margin-top: 10px;
}
.counter h4 {
    color: #263238;
    font-size: 60px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.counter h6 {
    color: #263238;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    line-height: 2.083;
}
.countdown {
    margin-top: 50px;
    background: #f0f9fa;
    padding-top: 60px;
    padding-bottom: 40px;
}
.form {
    border: 2px solid #31ada3;
    border-radius: 45px;
    margin-top: 40px;
}

.form input {
    border: none;
    outline: none;
    padding-left: 15px;
    width: 75%;
    height: 65px;
    color: black !important;
    background: transparent;
}
.form button {
    width: 24%;
    height: 55px;
    border: none;
    background: #40b3a9;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
}
.form input{
    background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
}
.footer {
    background-image: url(./assets/img/ft.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 140px;
}
.footer-widgets p {
    margin-top: 1.5rem;
    font-size: 18px;
    color: #6c6e75;
}

.footer-widgets h4 {
    color: #253138;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 25px;
    font-size: 24px;
}
.footer-menu li {
    margin-bottom: 10px;
    list-style: none;
}
.footer-menu li a {
    color: #6c6e75;
    text-decoration: none;
}